{
  "billAccountNumber": 101,
  "addresses": [
    {
      "addressID": 12345,
      "addressType": {
        "addressTypeID": "H",
        "description": "home address"
      },
      "isReadOnly": true,
      "addressDetails": {
        "addressLine1": "1901 Chouteau Ave",
        "addressLine2": "",
        "addressLine3": "",
        "city": "St. Louis",
        "state": "MO",
        "postalCode": "63105",
        "country": "US"
      }
    },
    {
      "addressID": 54321,
      "addressType": {
        "addressTypeID": "W",
        "description": "Work address"
      },
      "isReadOnly": true,
      "addressDetails": {
        "addressLine1": "1901 Chouteau Ave",
        "addressLine2": "",
        "addressLine3": "",
        "city": "St. Louis",
        "state": "MO",
        "postalCode": "63105",
        "country": "US"
      }
    }
  ]
}