{
  "accountNumber": 12345,
  "premiseNumber": 123,
  "customerNumber": 123,
  "addresstypeCode": "A",
  "addressID": 123,
  "primaryPhoneID": 123,
  "secondaryPhoneID": 123,
  "accountStatusCode": "AC",
  "accountStatusDescription": "Active",
  "revenueClassCode": "A",
  "revenueClassDescription": "Class Desc",
  "tariffTypeCode": "AA",
  "tariffTypeDescription": "Type Desc",
  "accountTypeCode": "VV",
  "accountTypeDescription": "Account type Desc",
  "weatherGroupCode": "GC",
  "weatherGroupDescription": "Group Desc",
  "billGroup": 12,
  "dateLastBilled": "date",
  "dateNextBilled": "date",
  "summarySubordinate": "s",
  "customerSegmentCode": "S",
  "customerSegmentDescription": "Segment",
  "accountHandlingCode": "H",
  "accountHandlingDescription": "H Desc"
}