{
  "billAccountNumber": 1234,
  "nextReadDate": "2012-04-23T18:25:43.511Z",
  "unbilledBalance": 12,
  "currentAccountBalance": 12,
  "currentBillAmount": 12,
  "currentBillDate": "2012-04-23T18:25:43.511Z",
  "previousBillAmount": 10,
  "previousBillDate": "2012-03-23T18:25:43.511Z",
  "lastPaymentAmount": 10,
  "lastPaymentDate": "2012-04-10T18:25:43.511Z",
  "suspendedCharges": 0,
  "excessCreditAmount": 0,
  "creditRating": "E",
  "balanceForward": 0,
  "pledgeAmount": 0,
  "dueAmount": 0,
  "pastDueAmount": 0,
  "pendingPayment": 0,
  "lastPayment": 10,
  "paymentDate": "2012-04-10T18:25:43.511Z",
  "disconnectNoticeDateLastIssued": "2012-04-23T18:25:43.511Z",
  "disconnectNoticeAmount": 2,
  "disconnectNoticeDueDate": "2012-04-23T18:25:43.511Z",
  "reconnectAmount": 2,
  "reinstateDPAAmount": 2,
  "nextCollectionAction": "A",
  "nextCollectionActionDate": "2012-04-23T18:25:43.511Z",
  "daysInBillingCycle": 30,
  "financialActivity": {
    "billAccountNumber": 1234,
    "date": "2012-04-23T18:25:43.511Z",
    "source": "EC",
    "debits": 2,
    "credits": 2,
    "totalBill": 12,
    "balanceForward": 0,
    "billingDemand": 0,
    "daysUsed": 20,
    "billingKwH": 120,
    "totalCCF": 12
  }
}