{
  "serviceOrderNumber": 12345,
  "billAccountNumber": 1234,
  "premiseNumber": 123,
  "fieldOrderNumber": 12,
  "serviceTypeCode": "GAS1",
  "serviceTypeDescription": "Gas",
  "dateWanted": "2012-04-23T18:25:43.511Z",
  "serviceOrderTypeCode": "CO",
  "serviceOrderTypeDescription": "Connect",
  "serviceOrderActionReason": "New connection",
  "serviceOrderStatusCode": "IS",
  "serviceOrderStatusDescription": "Issued",
  "timeFrameCode": "8",
  "timeFrameDescription": "8:00 AM",
  "issueDate": "2012-04-13T18:25:43.511Z",
  "timeOrderIssued": "18:00 PM",
  "premiseAddressCompressed": "1304 S.Finley Road, IL-60142",
  "customerNameCompressed": "TestName",
  "issueComments": "New",
  "userID": "q1234",
  "userName": "testuser",
  "fieldOrderTypeCode": "NC",
  "fieldOrderDescription": "New connection",
  "completedDate": "2012-04-15T18:25:43.511Z"
}