<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-property-placeholder="http://www.mulesoft.org/schema/mule/secure-property-placeholder" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-property-placeholder http://www.mulesoft.org/schema/mule/secure-property-placeholder/current/mule-secure-property-placeholder.xsd">

<catch-exception-strategy name="exception-handler" enableNotifications="false" >
            <set-variable variableName="exception-message" value="#[exception.cause==null ? exception.message : exception.cause.message]" doc:name="Set Exception Message"/>
            <choice doc:name="Choice">
                <when expression="#[exception.causedBy(java.util.concurrent.TimeoutException)
                					|| exception.causedBy(java.net.UnknownHostException)
                					|| exception.causedBy(java.net.SocketTimeoutException)
                					|| exception.causedBy(java.net.ConnectException)
                					|| exception.causedBy(java.nio.channels.UnresolvedAddressException)]">
                    <set-property doc:name="http.status-504" propertyName="http.status" value="504"/>
                    <set-variable doc:name="Set Error Code" value="CONNECTION_ERROR" variableName="code"/>
                </when>
                <when expression="#[exception.causedBy(org.mule.module.apikit.exception.BadRequestException)]">
                    <set-property doc:name="http.status-400" propertyName="http.status" value="400"/>
                    <set-variable doc:name="Set Error Code" value="REQUEST_ERROR" variableName="code"/>
                </when>
                <when expression="#[exception.causedBy(org.mule.module.apikit.exception.NotFoundException)]">
                    <set-property doc:name="http.status-404" propertyName="http.status" value="404"/>
                    <set-variable doc:name="Set Error Code" value="REQUEST_ERROR" variableName="code"/>
                </when>
                <when expression="#[exception.causedBy(org.mule.module.apikit.exception.MethodNotAllowedException)]">
                    <set-property doc:name="http.status-405" propertyName="http.status" value="405"/>
                    <set-variable doc:name="Set Error Code" value="REQUEST_ERROR" variableName="code"/>
                </when>
                <when expression="#[exception.causedBy(org.mule.module.apikit.exception.NotAcceptableException)]">
                    <set-property doc:name="http.status-406" propertyName="http.status" value="406"/>
                    <set-variable doc:name="Set Error Code" value="REQUEST_ERROR" variableName="code"/>
                </when>
                <when expression="#[exception.causedBy(org.mule.module.apikit.exception.UnsupportedMediaTypeException)]">
                    <set-property doc:name="http.status-415" propertyName="http.status" value="415"/>
                    <set-variable doc:name="Set Error Code" value="REQUEST_ERROR" variableName="code"/>
                </when>
                <when expression="#[exception.causedBy(org.mule.module.apikit.exception.UnsupportedMediaTypeException)]">
                    <set-property doc:name="http.status-415" propertyName="http.status" value="415"/>
                    <set-variable doc:name="Set Error Code" value="REQUEST_ERROR" variableName="code"/>
                </when>
                <when expression="#[exception.causedBy(org.mule.module.apikit.exception.UnsupportedMediaTypeException)]">
                    <set-property doc:name="http.status-415" propertyName="http.status" value="415"/>
                    <set-variable doc:name="Set Error Code" value="REQUEST_ERROR" variableName="code"/>
                </when>
                <when expression="#[exception.causedBy(java.sql.SQLException)]">
                    <set-property doc:name="http.status-504" propertyName="http.status" value="504"/>
                    <set-variable doc:name="Set Error Code" value="REQUEST_ERROR" variableName="code"/>
                </when>
                <when expression="#[exception.causeMatches('com.microsoft.sqlserver.jdbc.*')]">
                    <set-property doc:name="http.status-500" propertyName="http.status" value="500"/>
                    <set-variable doc:name="Set Error Code" value="REQUEST_ERROR" variableName="code"/>
                </when>
                <otherwise>
                	<set-property doc:name="http.status-500" propertyName="http.status" value="500"/>
                    <set-variable doc:name="Set Error Code" value="SERVER_ERROR" variableName="code"/>
                </otherwise>
            </choice>
            <logger message="#[flowVars.baseLogger] - {&quot;code&quot;:&quot;#[flowVars.code]&quot;, &quot;error&quot;:&quot;#[flowVars.'exception-message']&quot;, &quot;Flow&quot;: &quot;#[context:serviceName]&quot;}" level="ERROR" doc:name="Logger"/>
            <set-property propertyName="Content-Type" value="text/plain" doc:name="Set Content Type"/>
            <set-payload value="{&quot;error&quot;:&quot;#[flowVars.code]&quot;,&quot;message&quot;:&quot;#[flowVars.'exception-message']&quot;}" doc:name="Set Payload"/>
        </catch-exception-strategy>
</mule>
